In [1]:
#import 

import numpy as np

import pandas as pd 

# Load shark attack 
url = 'https://raw.githubusercontent.com/iSundhararajan/Shark_Attacks/main/GSAF5.csv'
shark_attack = pd.read_csv(url)

In [2]:
shark_attack

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,...,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
0,15 Mar 2024,2024.0,Unprovoked,AUSTRALIA,Queensland,Bargara Beach,Swimming,Brooklyn Sauer,F,13,...,Tiger shark,"Yahoo News, 3/15/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,04 Mar 2024,2024.0,Unprovoked,USA,Hawaii,"Old Man's, Waikiki",Surfing,Matthew White,M,NaN,...,Tiger shark 8',"Surfer, 3/6/2024F",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,02 Mar-2024,2024.0,Unprovoked,USA,Hawaii,"Rainbows, Oahu",Swimming,NaN,F,11,...,3' to 4' shark,"Hawaii News Now, 3/4/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,25 Feb-2024,2024.0,Unprovoked,AUSTRALIA,Western Australia,"Sandlnd Island, Jurian Bay",NaN,female,F,46,...,Tiger shark,"WA Today, 2/26/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,14 Feb-2024,2024.0,Unprovoked,INDIA,Maharashtra,"Vaitarna River, Palghar District",Fishing,Vicky Suresh Govari,M,32,...,"Bull shark, 7'","Times of India, 2/14/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6964,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
6965,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
6966,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
6967,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN
6968,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
"""

3. We need to work through cleaning up the categorical columns State, Activity and Species
"""

'\n\n3. We need to work through cleaning up the categorical columns State, Activity and Species\n'

In [4]:
shark_attack.nunique()

Date              5973
Year               259
Type                12
Country            225
State              902
Location          4514
Activity          1587
Name              5683
Sex                  8
Age                169
Injury            4079
Unnamed: 11         12
Time               410
Species           1675
Source            5302
pdf               6789
href formula      6785
href              6776
Case Number       6777
Case Number.1     6775
original order    6797
Unnamed: 21          1
Unnamed: 22          2
dtype: int64

In [5]:
shark_attack=shark_attack.drop('Unnamed: 21', axis=1)
shark_attack=shark_attack.drop('Unnamed: 22', axis=1)


shark_attack=shark_attack.drop('Case Number.1', axis=1)
shark_attack=shark_attack.drop('original order', axis=1)
shark_attack=shark_attack.drop('pdf', axis=1)
shark_attack=shark_attack.drop('href', axis=1)
shark_attack=shark_attack.drop('href formula', axis=1)
shark_attack=shark_attack.drop('Case Number', axis=1)
shark_attack=shark_attack.drop('Unnamed: 11', axis=1)
shark_attack=shark_attack.drop('Source', axis=1)
shark_attack=shark_attack.drop('Year', axis=1)


shark_attack.isnull().sum()

Date          25
Type          43
Country       75
State        507
Location     590
Activity     611
Name         245
Sex          604
Age         3019
Injury        60
Time        3551
Species     3157
dtype: int64

after analyzing the contents of the columns, we identified 2 columns full of null values 
we couldeliminate immediately


We also decided that only the first 12 rows had the most relevant data. So we dropped the ones
we knew would not be relevant

In [6]:
# cut all rows that are totally null
shark_attack=shark_attack.dropna(how='all')

In [7]:
shark_attack.Sex.unique() # we need to standardize the gender categories

#this is the code we used to correct and standardize sex column

corrections = {' M': 'M', 'M ':'M', 'M x 2':'M'}
shark_attack['Sex'] = shark_attack['Sex'].replace(corrections)

corrections = {'lli':'na', 'N':'na', '.':'na'}
shark_attack['Sex'] = shark_attack['Sex'].replace(corrections)

# we need to decide what to do with 'lli', 'N', '.' (we will treat these as null)

In [8]:
shark_attack.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6944 entries, 0 to 6943
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      6944 non-null   object
 1   Type      6926 non-null   object
 2   Country   6894 non-null   object
 3   State     6462 non-null   object
 4   Location  6379 non-null   object
 5   Activity  6358 non-null   object
 6   Name      6724 non-null   object
 7   Sex       6365 non-null   object
 8   Age       3950 non-null   object
 9   Injury    6909 non-null   object
 10  Time      3418 non-null   object
 11  Species   3812 non-null   object
dtypes: object(12)
memory usage: 705.2+ KB

In [9]:
shark_attack.Type.unique() # we need to standardize the Type categories

corrections = {' Provoked':'Provoked'}
shark_attack['Type'] = shark_attack['Type'].replace(corrections)

'?', 'Unconfirmed', 'Unverified', 'Invalid'

corrections = {'?':'Unconfirmed', 'Unverified':'Unconfirmed', 
               'Invalid':'Unconfirmed', 'Under investigation':'Unconfirmed', 
               'Questionable':'Unconfirmed','Boat':'Watercraft'}
shark_attack['Type'] = shark_attack['Type'].replace(corrections)

shark_attack.Type.unique()

shark_attack.Type.value_counts()

Type
Unprovoked      5107
Provoked         637
Unconfirmed      578
Watercraft       362
Sea Disaster     242
Name: count, dtype: int64

In [10]:
shark_attack['Country']=shark_attack['Country'].str.upper()

In [11]:

# Coast of AFRICA, EGYPT / ISRAEL, IRAN / IRAQ, ITALY / CROATIA,RED SEA / INDIAN OCEAN,SOLOMON ISLANDS / VANUATU'

"""
We have corrected the countries that were misspelled on our first review of the country list.

corrections = {
              }
"""

corrections = {'Mexico':'MEXICO',' PHILIPPINES':'PHILIPPINES',' TONGA':'TONGA','CEYLON':'CEYLON (SRI LANKA)'
                ,'COLUMBIA':'COLOMBIA','EGYPT ':'EGYPT','Fiji':'FIJI','INDIAN OCEAN?':'INDIAN OCEAN',
               'MALDIVE ISLANDS':'MALDIVES','MEXICO ':'MEXICO','Maldives':'MALDIVES','MeXICO':'MEXICO',
               'NICARAGUA ':'NICARAGUA','NORTH ATLANTIC OCEAN ':'NORTH ATLANTIC OCEAN', 'New Zealand':'NEW ZEALAND',
               'OKINAWA':'JAPAN','PACIFIC OCEAN ':'PACIFIC OCEAN', 'RED SEA?':'RED SEA','REUNION':'REUNION ISLAND',
               'SAN DOMINGO':'SANTO DOMINGO','ST HELENA, British overseas territory':'ST HELENA','ST. MAARTIN':'ST MARTIN',
               'ST. MARTIN':'ST MARTIN','SUDAN?':'SUDAN','UNITED ARAB EMIRATES (UAE)':'UNITED ARAB EMIRATES','ENGLAND':'UNITED KINGDOM','SCOTLAND':'UNITED KINGDOM',
               'ST KITTS / NEVIS':'ST KITTS AND NEVIS','RED SEA / INDIAN OCEAN':'RED SEA','ANDAMAN / NICOBAR ISLANDAS':'ANDAMAN',
               'IRAN / IRAQ':'IRAN','SOUTHWEST PACIFIC OCEAN':'SOUTH PACIFIC OCEAN','ITALY / CROATIA':'ITALIA', 'YEMEN ':'YEMEN',
               'CEYLON (SRI LANKA)':'SRI LANKA','ASIA?':'ASIA',
              }

shark_attack['Country']=shark_attack['Country'].replace(corrections)

In [12]:
shark_attack['Country'].nunique()

193

In [69]:
# we standardized the Date and State columns


#shark_attack['Date']

#shark_attack.isnull().sum()


#x=pd.to_datetime(shark_attack['Date'],format='mixed')
#x[500:550]

#corrections = {'-':' ','Nov':'11'}
#shark_attack['Date'] = shark_attack['Date'].str.replace(corrections)

shark_attack['Date'] = shark_attack['Date'].astype(str).str.replace("Nox", 'Nov')
shark_attack['Date'][27]
shark_attack['Date'] = shark_attack['Date'].str.strip()

x=pd.to_datetime(shark_attack['Date'],format='mixed')
x

OutOfBoundsDatetime: Out of bounds nanosecond timestamp: 10 Jul 202, at position 384

In [68]:
shark_attack['Date'].drop('384',axis=0, inplace=True)

KeyError: "['384'] not found in axis"

In [72]:
formats = [
    "%d %b%Y",    # Example: 14Jun2023
    "%d %b %Y",   # Example: 14 Jun 2023
    "%Y%m%d",     # Example: 20230614
    "%d %B %Y",   # Example: 14 June 2023
    "%d %b%Y",    # Example: 14Jun'23
    "%d %b %Y",   # Example: 14 Jun '23
    "%d%b%Y",     # Example: 14Jun'23
    "%d%b %Y",    # Example: 14Jun '23
    "%d %b%y",    # Example: 14Jun23
    "%d %b %y",   # Example: 14 Jun 23
    "%d%b%y",     # Example: 14Jun23
    "%d%b %y",    # Example: 14Jun 23
]

for fmt in formats:
    try:
        shark_attack['Date'] = pd.to_datetime(shark_attack['Date'], format=fmt)
        break  # Stop trying once successful
    except ValueError:
        continue  # Try the next format if ValueError is raised

shark_attack['Date'] = pd.to_datetime(shark_attack['Date'], errors='coerce')
shark_attack['Date'][500:550]

501   2019-05-29
502   2019-05-25
503   2019-05-25
504   2019-05-20
505   2019-05-17
506   2019-05-14
507   2019-05-14
508   2018-05-09
509   2019-05-08
510   2019-05-07
511   2019-05-04
512   2019-05-01
513   2019-04-27
514   2019-04-23
515   2019-04-21
516   2019-04-12
517   2019-04-06
518   2019-04-06
519   2019-04-05
520   2019-03-26
521   2019-03-25
522   2019-03-22
523   2019-03-21
524   2019-03-16
525   2019-03-12
526   2019-03-05
527   2019-03-05
528   2018-02-18
529   2019-02-17
530   2019-02-14
531   2019-02-10
532   2019-02-04
533   2019-02-04
534   2019-02-02
535   2019-02-02
536   2019-01-30
537   2019-01-29
538   2019-01-14
539   2019-01-10
540   2019-01-08
541   2018-12-18
542   2018-12-15
543   2018-12-15
544   2018-12-09
545   2018-12-09
546   2018-11-28
547   2018-11-24
548   2018-11-18
549   2018-11-17
550   2018-11-14
Name: Date, dtype: datetime64[ns]

In [14]:
shark_attack['State']=shark_attack['State'].str.upper()
shark_attack['State'].unique()

array(['QUEENSLAND', 'HAWAII', 'WESTERN AUSTRALIA', 'MAHARASHTRA', nan,
       'NEW  SOUTH WALES', 'PARADISE ISLAND', 'SOUTH AUSTRALIA',
       'EASTERN CAPE PROVINCE', 'SONORA', 'NEW SOUTH WALES',
       'SOUTH ISLAND', 'GUERRERO', 'NEW PROVIDENCE   ISOAD', 'JALISCO',
       'GRAND  BAHAMA ISLAND', 'FLORIDA', 'WESTERM AUSTRALIA',
       'NORTH ISLAND', 'SOUTHERN RED SEA', 'QUINTANA ROO',
       'BELIZE DISTRICT', 'CALIFORNIA', 'SOUTH CAROLINA', 'SOUTH SINAI',
       'BOLINAO', 'NORTH CAROLINA', 'VALENCIA', 'NORTE', "SAVAI'I ISLAND",
       'NEW YORK', 'SAN ANDRÉS ISLAND', 'GALAPAGOS ISLANDS',
       'RED SEA PROTECTORATE', 'FREEPORT', 'TAHITI', 'POUM',
       'PROVIDENCIALES ISLAND', 'LUCAYAN LUCAYAN ARCHIPELAGO',
       'NEW JERSEY', 'MAYABEQUE', 'EASTEN CAPE PROVINCE', 'ARTEMISA',
       'PERNAMBUCO', 'PRASLIN ISLAND', 'SOUTH PROVINCE', 'PATAGONIA',
       'TAVEUNI ISLAND', 'GULF OF CALIFORNIA', 'VAAVU ATOLL', 'KNZ',
       'NEW SOUTH ALES', 'SAMOA', 'TEXAS', 'LOUISIANA', 'MISSISSIPPI',
       'WESTERN  AUSTRALIA', 'VICTORIA', 'WESTERN CAPE PROVINCE',
       'CORNWALL', 'NOIRTH CAROLINA', 'OKINAWA', 'BALI',
       'HURGHADA, RED SEA GOVERNORATE', 'AMBERGRIS CAY', 'BORA BORA',
       'GEORGIA', 'PHUKET', 'ALABAMA', 'KZN', 'ISLA DE SAN ANDRES',
       'GUANACOSTE', 'KWAZULU-NATAL', 'SÃO PAULO.', 'TURKS AND CAICOS',
       'NOVA SCOTIA', 'MARYLAND', 'CHANTHABURI PROVINCE', 'BAHAMAS',
       'GALAPAGOS', 'AQABA', 'WEST SUSSEX', 'NOUVILLE', 'AMBERGRIS KEY',
       'WESTMORELAND PARISH', 'MARQUESAS', 'LOYALTY ISLANDS', 'MAUI',
       'THE NARROWS', 'RAA ATOLL', 'OREGON', ' GRAND BAHAMA ISLAND',
       'FRANKLIN COUNTY, FLORIDA', 'VIRGIN ISLANDS', 'TASMANIA',
       'TUAMOTU ISLANDS', 'MAINE', 'EXUMAS', 'DELAWARE', 'ABACO ISLANDS',
       'MUANG DISTRICT OF SATUN PROVINCE, ', 'CANARY ISLANDS',
       'VANUA LEVU', 'SOUTHLAND', 'PHANG NGA PROVINCE', 'PRASLIN',
       'CENTRAL PROVINCE', 'HOLQUIN', 'MOOREA', 'BAJA ', 'SAINT-GILLES',
       'GUAM', 'NORTHERN TERRITORY ', 'CAYMAN ISLANDS', 'RHODE ISLAND',
       'CHATHAM ISLANDS', 'QUINTA ROO', 'LUCAYAN ARCHIPELAGO',
       'BÉLEP ISLANDS', 'NOUMEA', 'FERNANDO DE NORONHA',
       'LIAONING PROVINCE', 'NEW SOUTH WALES ', 'UPOLO',
       'ST. MARYS PARISH', 'MASSACHUSETTS', 'COUNTY CORK',
       'CHIETI, PROVINCE', 'GUIZHOU PROVINCE',
       'SAN ANDRES AND PROVIDENCIA ARCHIPELAGO', 'THE EXUMA CAYS',
       'COLIMA', 'HUA HIN', 'COCOS ISLAND', 'ALIFU ALIFU ATOLL',
       'NEW PROVIDENCE', 'ALAGOAS', 'BOI ISLAND, VICTORIA', 'SEPANG',
       'HOLQUIN PROVINCE', 'PAMPLEMOUSSES ', ' UPOLU ISLAND',
       'SHIZUOKA PREFECTURE', 'CASTELLÓN', 'NEW PROVIDENCE DISTRICT',
       '40 MILES OFF GRAND BAHAMA ISLAND', 'ASCENSION ISLAND', 'MAJORCA',
       'WASHINGTON', 'TABASCO', 'ANJOUAN', 'IBIZA ISLAND', 'SOUTH DEVON',
       'NEW PROVIDENCE ', 'SHARJAH, ', 'BAJA CALIFORNIA SUR', 'SAINT-LEU',
       'LUZON ISLAND', 'TAMAULIPAS', 'SAINT-ANDRE', 'BIMINI', 'TUAMOTOS',
       'NORTH PROVINCE', 'NEW PROVIDENCE ISLAND', 'ALICANTE PROVINCE',
       'HONG KONG', 'KOCHI PREFECTURE', 'ISLA PROVIDENCIA', 'SUEZ',
       'GRAND TERRE', 'BOA VISTA ISLAND', 'SANTA CATARINA STATE',
       'ALTAGRACIA PROVINCE', 'GRAND CAYMAN', 'BALNEÁRIO CAMBORIÚ',
       'FUJAIRAH EMIRATE', 'GRAND CANARY ISLAND', 'INHAMBANE PROVINCE',
       'ALICANTE', 'GUANACASTE', 'GRAND BAHAMA ISLAND', 'LE PORT',
       'RANGIROA', 'SAINT-GILLES-LES-BAINS', 'SARDINIA', 'SINALOA',
       'CENTRAL TUAMOTU', 'D’ÉTANG-SALÉ', 'GRANADA',
       'CARGADOS CARAJOS SHOALS (ST. BRANDON)', 'CATALONIA', 'WEST END',
       'ATSUMI PENINSULA', 'PALMYRA ATOLL', 'WALLIS AND FUTUNA',
       'BAIE DE SAINTE-MARIE', 'SOCIETY ISLANDS', 'TRINIDAD',
       'OKINAWA PREFECTURE', '740 MILES SE OF TARAWA ATOLL',
       'SOUTHERN DISTRICT', 'BAY OF BISCAY', 'EXUMA ISLANDS',
       'SAINT-PAUL', 'TAITUNG ', 'KINGSTON PARISH', 'SANTA CRUZ ISLAND',
       'TUAMOTUS', 'ELEUTHERA', 'ST. CATHERINE', 'PALAWAN',
       'MERCURY ISLANDS', 'DELTA', "VAVA'U", 'INNER HEBRIDES',
       'SAINT LEU', 'TROIS-BASSINS', 'BRITISH COLOMBIA', 'SAINT-BENOIT',
       'TABUK PROVINCE', 'ANTOFAGASTA PROVINCE', "ST JOHN'S",
       'SANTA ELENA', 'EAST NEW BRITAIN', 'BOIS-BLANC ', 'MORAY',
       'PUERTO RICO', 'SAMANÁ PROVINCE', 'COAST PROVINCE',
       'PRIMORSKY KRAI',
       'PETER THE GREAT BAY, KHASAN, PRIMORSKY KRAI (FAR EAST)',
       'TELYAKOVSKY BAY, KHASAN,  PRIMORSKY KRAI (FAR EAST)', 'SUCRE',
       'MIDDLE CAICOS', 'CAICOS BANK', 'SAN ANDRÉS ARCHIPELAGO', 'KEDAH',
       'UMM AL QAYWAYAN PROVINCE', 'VITU LEVU', 'SOUTH SINAI PENINSULA',
       ' LOYALTY ISLANDS', 'SAINT GILLES ', 'VIRGINIA', "HA'API ",
       'WESTERN PROVINCE', 'JEJU PROVINCE', 'BINH DINH PROVINCE',
       'ANTSIRANANA PROVINCE', 'SINAI PENINSULA', 'OFF VANUA LEVU',
       'MERIZO', 'RIO GRANDE DO SUL', 'DUBAI', 'TORRES STRAIT',
       'EASTERN PROVINCE', 'EASTERN CAPE  PROVINCE', 'MAPUTO PROVINCE',
       'BOCAS', 'FIFE', 'DEVON', 'MAKIRA-ULAWA PROVINCE', 'MOMBASA',
       'CATALUNYA', 'ST. JOHNS REEF', 'OFF GREEN ISLAND', 'NORTH REGION',
       'BATANGAS PROVINCE', 'STRAIT OF MALACCA', 'GUANTANAMO PROVINCE',
       'MARANHÃO', 'RED SEA', 'BATANES PROVINE', 'LUZON',
       'NORTHERN TERRITORY', ' SPLIT-DALMATIA COUNT,', 'NORTH DEVON',
       'US VIRGIN ISLANDS', 'SAN CARLOS', 'CABO SAN LUCAS', 'SUSSEX',
       'BAHIA', 'EASTER ROSS', 'GUERRO', 'YASAWA ISLANDS',
       'NORTHERN BAHAMAS', 'TOKYO BAY', 'BAJA CALIFORNIA', 'GREEN BAY',
       'MAROVO LAGOON', 'TERRITORY OF COCOS (KEELING) ISLANDS',
       'OSLO FJORD', 'KENT', 'BIRD ISLAND', 'PROVIDENCIALES',
       'BIMINI ISLANDS', 'MUHAFAZAT HADRAMAWT', 'COOK ISLANS',
       'SURIGAO DEL NORTE', 'BETWEEN SOMALIA & YEMEN', 'AMBERGRIS CAYE',
       'SAINT-PIERRE', 'KENTUCKY', 'ANDROS ISLANDS', 'WESTERN AREA',
       '300 MILES FROM ANTIGUA', '800 MILES FROM LAND',
       '600 NM WEST OF THE CANARY ISLANDS', 'SIMPSON BAY', 'EAST WALL',
       'INNER ISLANDS', 'SHANGHAI', 'MALAMPA PROVINCE',
       "SOUTH CH'UNGCH'ONG PROVINCE", 'BAY ISLANDS', 'NEW MEXICO',
       'SANTA ISABEL PROVINCE', 'SANTIAGO DE CUBA PROVINCE',
       'CAMAGUEY PROVINCE', 'CONSERVATÓRIA DISTRICT', 'SOUTH CAROLINA ',
       'KURIL ISLANDS IN THE PACIFIC', 'WAKAYAMA PREFECTURE',
       "NUKU'ALOFA", 'SAINT-BENOÎT',
       'SOUTH ISLAND, NEAR KARITANE NORTH OF DUNEDIN', 'ROCHA',
       'NORTHLANDS', 'ANZOATEGUI', 'COOK ISLANDS', 'TAMIL NADU',
       'PEARL ISLANDS', 'TAVEUNI', 'JOHNSTON ATOLL', 'BAATAN',
       'RIO DE JANEIRO', 'NUEVA ESPARTA', 'NORTH PACIFIC COAST',
       'CAROLINE ISLANDS', 'CHESHIRE', 'LOUISIADE ARCHIPELAGO',
       'KWAZULU-NATAL BETWEEN PORT EDWARD AND PORT ST JOHNS',
       'MILNE BAY PROVINCE', 'CIKOBIA ISLAND (NORTH OF VANUA LEVU)',
       'RAYONG PROVINCE', 'ZAMBOANGA DEL SUR PROVINCE',
       'RIO GRANDE DE NORTE',
       'OFF THE WESTERN COAST OF PENINSULAR MALAYSIA', 'NEW BRUNSWICK',
       'MIYAKO ISLAND', 'ALASKA', 'MINERVA REEF', 'MADANG PROVINCE',
       'WORCESTERSHIRE', 'ALINGLAPLAP ATOLL', 'ADRIATIC SEA',
       'RALIK CHAIN', 'GRAND BAIE', "L' ETANG SALÉ-LES-BAINS",
       'SOUTHERN JAPAN', 'CAP VERT PENINSULA', 'MARCHES REGION',
       'BERRY ISLANDS', 'TRANSVAAL', 'GAZA', "GRAND'ANSE", 'BEAUFONDS',
       'MIYAKO', "L'ETANG-SALE", 'CHATHAM ISLANDS ',
       'SOUTH SINAI, GULF OF AQABA', 'CAT CAY', 'MISSOURI',
       '12 MILES OFF THE NORTH COAST', 'SAINT-PAUL ',
       'CHATHAM ISLANDS, EAST OF NEW  ZEALAND', 'SAINT-DENIS', 'VAVA’U',
       'CLEARWATER BAY', 'NEW TERRITORIES', 'AICHI PREFECTURE',
       'TAFEA PROVINCE', 'KAGOSHIMA PREFECTURE', 'SAINT-JOSEPH',
       'BANAADIR REGION', 'LA LIBERTAD', 'COSTA BLANCA', 'WALKERS CAY',
       'ON THE KOWLOON PENISULA, SOUTH OF SAI KUNG', 'EHIME PREFECTURE',
       'TONGAPATU GROUP', 'WEST AFRICA', 'WAKAYA ISLAND',
       'NORTH CAROLINA ', 'MEXICO / CARIBBEAN SEA', 'ANTARCTIC OCEAN',
       'LA SALINE-LES-BAINS', 'SEA OF JAPAN', 'TAVENUI', 'LIGURIAN SEA',
       "L'ETANG-SALÉ", 'KOWLOON PENINSULA', 'PORT SHELTER',
       'LAUCALA ISLAND', 'SAINTE-MARIE', 'GREAT EXUMA ISLAND',
       'SAINTE-SUZANNE', 'TUSCANY', 'TYRRHENIAN SEA', 'NEW IRELAND',
       'VALPARISO PROVINCE', 'VISCAYAN SEA', 'MANFREDONIA ',
       'TOKYO PREFECTURE', 'SAINT-LOUIS', 'MINDORO',
       'BETWEEN DR AND PUERTO RICO', 'BETWEEN HONIARA & ISABEL ISLAND',
       'FLORIDA STRAITS', 'GULF OF LYONS', 'CÁDIZ', 'SICILY',
       'ANDIKIRA FOKITHES', 'CENTRAL PHILIPPINES', 'NORTHWEST ITALY',
       'ENGLISH CHANNEL', 'NORTH & SOUTH CAROLINA', 'CAROLINA COAST',
       'KUMAMOTO PREFECTURE', 'BISERTA', 'SAINT-PHILIPPE', 'CHUNGNAM',
       'ERONOGO REGION', 'COQUIMBO', 'PAGASITIKOS GULF',
       "ST. MARY'S PARISH", 'ROMBLON PROVINCE', 'LAMU ARCHIPELAGO',
       'LOS VILOS', 'ISLAND OF KOS', "HA'API", 'MADEIRA ISLANDS',
       'HO HA WAN MARINE PARK', 'SOUTHERN THAILAND', 'GOLFO DE VENEZIA',
       'RALIK ARCHIPELAGO', 'SOUTH CHINA SEA 200 MILES FROM HONG KONG',
       'REGGIO CALABRIA PROVINCE', 'MIRS BAY ', 'GENOA PROVINCE',
       'GANGES-BRAHMAPUTRA DELTA', ' SPLIT-DALMATIA COUNTY', 'FLORIDA ',
       'PRIMORJE-GORSKI KOTAR COUNTY ', 'AULONG ISLAND',
       'WESTERN CAROLINE ISLANDS', 'UPOLU ISLAND', 'ANTIBES',
       'ILLEGINNI ATOLL', 'ISTRIA COUNTY', 'BETWEEN BEIRA & MAPUTO',
       'ISTRIA ', 'KHUZESTAN PROVINCE', 'INHAMBE PROVINCE',
       'NAMONUITO ATOLL', 'EASTERN CAROLINE ISLANDS',
       'WESTERN CAROLINE ISLANDS (NORTH PACIFIC OCEAN)', 'CARIBBEAN SEA',
       'ST. ANDREW PARISH', '200 NM SOUTHEAST OF MANILA', 'LIMPOPO RIVER',
       'NEW IRELAND PROVINCE', 'ZADAR COUNTY', 'BASRAH', 'CLARENDON',
       'MORO GULF', 'JOHOR', 'MAGDALENA DEPARTMENT', 'MAFIA ISLAND',
       'GULF PROVINCE', 'MOROBE PROVINCE', 'LIMÓN PROVINCE',
       'ROMBION PROVINCE', 'VERACRUZ', 'BRINDISI PROVINCE',
       'KAGAWA PREFECTURE', 'LIGURIA', 'HAMILTON', 'OUT ISLANDS',
       'MUGLA PROVINCE', 'GIBRALTAR', 'NEW BRITAIN', 'BAY OF MAPUTO',
       'DUKE OF YORK ISLANDS', 'TARANTO PROVINCE', 'NORTHERN TAIWAN',
       'ADMIRALTY ISLANDS, MANUS PROVINCE', 'NORTH SUMATRA',
       "250 MILES SOUTHWEST OF O'AHU, HAWAII", 'WEST COAST', 'EAST SEPIK',
       'NEAR BOUGAINVILLE (NORTH SOLOMONS)', 'EAST OF THE GULF OF AQABA',
       'BOUGAINVILLE (NORTH SOLOMONS)', 'VICTORIA ', 'OKAYAMA PREFECTURE',
       'SAN BLAS', 'CONNECTICUT', 'LAU GROUP', 'CARIBBEAN COAST',
       'VITA LEVU', 'SAN BLAS ISLANDS', 'PUNTARENAS PROVINCE',
       'LOMALOMA, LAU', 'BETWEEN SOUTHAMPTON & CANARY ISLANDS',
       'SOUTH COAST, EAST NEW BRITAIN', ' LAU PROVINCE', 'YSABEL ISLAND',
       'SANTO DOMINGO', 'SAN BLAS COAST', 'THESSALY',
       'LOMAIVITI  ISLAND GROUP', 'RODRIGUES', 'MANUS ISLAND',
       'PINAS BAY', 'GRAND TURK ISLAND', 'OFF COAST OF WEST AFRICA',
       'SHARON', 'ANTALYA PROVINCE', 'NORTHERN DISTRICT',
       'NEW IRELAND PROVINCE, BISMARCK ARCHIPELAGO', 'CYCLADES',
       'VITI LEVU', 'OFF THE COROMANDEL PENINSULA, NORTH ISLAND',
       'MADANG', 'GUADALCANAL PROVINCE', '10ºS, 142ºE', 'KWAJALEIN ATOLL',
       'EAST FLORES', 'GUERRRERO', 'WESTERN LUZON ISLAND',
       'SHEFA PROVINCE', '165  MILES FROM BERMUDA',
       '25 KM OFF THE COAST OF IRAN & 483KM FROM MOUTH OF PERSIAN GULF',
       'VENICE PROVINCE', 'SANDAUN PROVINCE', 'ANATOLIA',
       'EAST NEW BRITAIN PROVINCE', 'UNITED ARAB EMIRATES',
       'WAKE ISLAND (ENENKIO)', '19S, 178?E', 'PENNSYLVANIA',
       '9.35N 79.35W', 'RONCADOR BANK', 'WESTERN DISTRICT',
       'ENROUTE FROM SUEZ TO ADEN (YEMEN)',
       '180 MILES SOUTHEAST OF OKINAWA', 'ENIWETOK ATOLL',
       'CAP-VERT PENINSULA', 'DELAGOA BAY', 'IN THE ENGLISH CHANNEL ',
       'COOK STRAIT', 'UNKNOWN, TREATED AT WICK, SCOTLAND',
       'CORREGIDOR ISLAND', 'PAGET', '33N, 68W', 'CASAMANCE',
       'MADANG (WO)', 'BETWEEN TIMOR & DARWIN, AUSTRALIA',
       'PACIFIC COAST', 'ST. GEORGES ', 'EASTERN  PROVINCE',
       'NORTHWEST OF VITI LEVU', 'WEST NEW BRITAIN PROVINCE',
       'RIGO SUBDISTRICT', 'MASBATE', '400 MILES SOUTHEAST OF SRI LANKA',
       'LOMAIVITI PROVINCE', 'KADAVU', 'LEYTE ISLAND', 'ORISSA',
       'HOKKAIDO PREFECTURE', 'NORTH PALAWAN', 'QUEAON', 'ISTRIA',
       'PANAMA', 'IN THE GULF STREAM ', 'MERSIN PROVINCE', 'GUYAMAS',
       'BETWEEN ENGLAND & SOUTH AFRICA', 'MINDANAO',
       ' KIKORI RIVER MOUTH', 'SOUTH CHUNGCHEONG PROVINCE',
       'AHIRKAPI COAST', 'TUTUILA ISLAND', 'PRIMORJE-GORSKI KOTAR COUNTY',
       'BETWEEN HAWAII & WAKE ISLAND', 'TAIPEI HSIEN',
       'IBARAKI PREFECTURE', 'SOUTH PACIFIC OCEAN', 'CANAL ZONE',
       '1,000 MILES EAST OF HAWAII', 'HONIARA', 'YUCATAN CHANNEL',
       'HAVANA PROVINCE', 'KARUN RIVER',
       'ABAU SUBDISTRICT,CENTRAL PROVINCE',
       'NEW BRITAIN, BISMARCK ARCHIPELAGO', 'ESTUAIRE PROVINCE',
       'NEAR DAKAR, CAP VERT PENINSULA',
       'NEAR THE ANDAMAN & NICOBAR ISLANDS', 'MOZAMBIQUE CHANNEL',
       'TYRRENIAN SEA', 'CONGREVE CHANNEL', 'ST. THOMAS BAY', 'MADEIRA',
       'BETWEEN COMORES & MADAGASCAR', 'CORFU ISLAND',
       '1000 MILES WEST OF HAWAII', 'IZO ISLANDS',
       ' PRIMORJE-GORSKI KOTAR COUNTY', 'OPEN SEA', 'ADEN',
       'NEW IRELAND, BISMARCK ARCHIPELAGO', '18S / 50E', 'ILLINOIS',
       'ISLES DEL ROSARIO', 'WAKE ISLAND', 'ISLE OF MAN',
       'NAGASAKI PREFECTURE', 'LIGUARIA', 'SLOVENIA', 'SOUTH SHORE ',
       'BUENOS AIRES PROVINCE', '330 TO 350 MILES EAST OF WAKE ISLAND',
       'GULF OF PANAMA', 'GENOA  PROVINCE',
       'ABAU SUB DISTRICT, CENTRAL PROVINCE', 'TERAMO', 'RED SEA STATE',
       'CURACAO', 'PORT LOUIS PROVINCE', 'MONTSERRADO', 'BAY OF MAPUTU',
       'SOFALA PROVINCE', 'SALERNO', 'SALERNO PROVINCE', 'TARANTO',
       'NAPLES PROVINCE', ' LA LIBERTAD', 'SAGO PREFECTURE', 'SAVONA',
       'SOUTHERN PROVINCE', 'JAKARTA HARBOUR', 'SINGAPORE HARBOR',
       'CALABRIA', 'SHATT-EL-ARAB RIVER', 'SHATT-AL-ARAB RIVER',
       'CALVADOS ARCHIPELAGO', 'SHAT-AL-ARAB RIVER',
       'BETWEEN KWAJALEIN ATOLL & JOHNSTON ISLAND', 'ATTICA',
       'ADANA PROVINCE', 'BANDAR MA’SHUR SEA INLET', 'SAIPAN',
       'CARPATHIAN SEA', 'KWAJALEIN', 'DAR-ES-SALAAM ',
       '"HEAD OF THE GULF"', 'RYUKYU', ' NORTH CAROLINA',
       'IN TRANSIT BETWEEN TINIAN AND LEYTE', 'NORTHERN JAVA', 'TEL AVIV',
       'COLON PROVINCE', '300 MILES EAST OF LUZON',
       'BERNARDINO STRAIT NEAR GULF OF LEYTE',
       'OFF SAMAR ISLAND IN THE GULF OF LEYTE',
       'LAKE NICARAGUA (FRESH WATER)', 'PACIFIC OCEAN',
       'NEAR THE FIJI ISLANDS', '40 MILES SOUTH OF NAPLES ',
       'NORTHWEST OF PAPUA NEW GUINEA', 'BETWEEN HAWAII AND U.S.A.',
       'OFF SOUTH AMERICAN COAST', 'MAKORA-ULAWA PROVINCE',
       '04.05N-13.23W', 'MIDWAY ATOLL',
       '300 MILES EAST OF ST. THOMAS (VIRGIN ISLANDS)',
       'WEST OF CEYLON (SRI  LANKA)', 'EAST JAVA', 'CAMIGUIN ISLAND',
       'CAY SAL BANK', '(SOUTHWESTERN PACIFIC)', 'PANAMA CITY',
       'OFF LIBYA', 'NORTH OF PERNAMBUCO, BRAZIL', 'OFF COAST OF ECUADOR',
       'TRELAWNEY PROVINCE', 'IN CONVOY OB 274', 'NEW GEORGIA',
       'PANAMA BAY (PACIFIC OCEAN)', 'BWAGAOIA', 'WESTERN PAPUAN GULF',
       'TORRES STRAIT ', 'CARABOBO', 'ASCENSION BAY', 'NORTH CHINA',
       'LOWER SAN JUAN RIVER', 'NICOYA PENINSULA', 'BASRAH CITY',
       'WEST BENGAL', 'QUEENSLAND ', 'ARGYLLSHIRE', 'ARRAN', 'ARGYLL',
       'FISHING GROUNDS', 'NEWFOUNDLAND', 'ISLE OF WIGHT',
       'MAKIRA-ULUWA PROVINCE', 'NORTHERN (ORO) PROVINCE', 'HERZLIYAH',
       'ELQUI PROVINCE', 'ISTANBUL', 'ST MICHAEL PARISH',
       'BARLAVENTO ISLANDS', 'VITI LEVU ISLAND', 'BAY OF FUNDY', 'MANILA',
       'FRENCH SOUTHERN TERRITORIES', 'NIUA ', 'BLACK RIVER',
       'PHOENIX ISLANDS', 'CIENFUEGOS PROVINCE', 'SANTIAGO ISLAND',
       'NEAR PUNTARENAS', 'PORTO SEGURO', 'SALINAS BAY',
       'GOLFO DI GENOVA IN THE LIGURIAN SEA', 'SANTS-MONTJIC',
       'SOUTH OF THE EQUATOR ', 'BAY OF MONACO', 'VALENCIA ', 'VANCOUVER',
       '2 TO 3 MILES OFF TABOGUILLA ISLAND, PACIFIC OCEAN', 'DORSET',
       '150 MILES OFFSHORE', 'GALICA', 'DEMERARA COUNTY', 'VERA CRUZ',
       ' MANILA BAY', 'LUCY', 'EAST YORKSHIRE', 'CAVITE PROVINCE, LUZON',
       'CAPE HAITIEN', 'LEYTE', 'HALIFAX', 'TURTLE BOGUE',
       '60 MILES NORTH OF SAN DOMINGO IN THE WEST INDIES', 'COLON',
       'OFF IRELAND', 'MEDITERRANEAN SEA', 'GRAN CANARIA',
       'APOLIMA STRAIT', 'ESSEQUIBO', 'LAGOS ', 'TRIESTE', '5AINT-DENIS',
       'VITI LEVU GROUP', 'BALEARICS', 'MÁLAGA ', 'GEORGES BANK',
       'ZAMBESI RIVER', 'COLÓN PROVINCE', '30 NM FROM SINGAPORE',
       'ANDALUCIA', 'SFAX', 'SOUTH ATLANTIC OCEAN', 'GALICIA',
       'GULF OF SUEZ', 'JAVA', 'TIBURON PENINSULA', 'OAXACA',
       'HARARE PROVINCE', 'KHÁNH HÒA PROVINCE', 'MALUKU PROVINCE',
       'SUEZ CANAL', ' NUSA TENGGARA', 'BETWEEN NOUMEA & SYDNEY',
       'VILLA CLARA PROVINCE', 'ANCONA PROVINCE', 'QUEZON',
       'RIO SAN JUAN', 'SOUTHERN CYPRUS', 'SYRACUSE', 'WESTERN VISCAYAS',
       'MINDORO OCCIDENTAL', 'NEGROS ', 'IMPERIA PROVINCE', 'MUALA',
       'EAST COAST', 'RATAK ', 'SOCOTRA ISLANDS', 'OFF CAPE HAITIEN',
       'MOLUCCAS', 'BOCAS DEL TORO', 'PROVENCE', 'BAY OF CAMPECHE',
       'RANGOON', 'BAY OF BENGAL', 'BAYELSA STATE', 'SOUTH ISLAND?',
       'NORFOLK ISLAND', 'BRITTANY', 'LINE ISLANDS', 'WOODLARK ISLANDS',
       'MUNXAR REEF', 'NORTHERN PELOPONNESE', 'BETWEEN PERTH & COLOMBO',
       'GUJARAT', 'LUKOVO', 'CORTÉS',
       'SOMEWHERE BETWEEN PHILADELPHIA AND HIOGO, JAPAN', ' NEW JERSEY',
       "CÔTE D'AZUR  ", 'MALDONADO COAST', 'WESTERN BANKS',
       'ANDAMAN ISLANDS', 'OFF THE COAST OF WEST AFRICA',
       'MISAMIS ORIENTAL', 'STRAIT OF MESSINA', 'HOOGLY RIVER',
       'CYCLADES ARCHIPELAGO', 'MOUNT LEBANON',
       'BETWEEN HASTINGS & FAIRLIGHT, SUSSEX', 'VERACRUZ ',
       'GILBERT ISLANDS', 'LOMAIVITI PROVINE',
       'OFF THE COAST OF SOUTH AMERICA', '22ºN, 88ºE',
       'MATANZAS PROVINCE (NORTH COAST)', 'ALPES MARITIME', 'EDINBURGH',
       'EASTERN CATALONA', '300 MILES EAST OF MAURITIUS',
       'FOVEAUX STRAIT', 'SUMATRA', 'CONAKRY REGION', 'CORFU', 'MALAGA',
       'BONIN ISLANDS', 'FERNANDO PO ISLAND', 'MANGAIA ISLAND',
       'NEW YORK ', 'CORFU ', 'BETWEEN AUSTRALIA & USA', 'TONGATAPU',
       'NORFOLK', 'ISLAND OF ST. THOMAS', 'CUMBERLAND', 'SANMA PROVINCE',
       "35º39 : 165º8'", 'CUBA', 'WESTERN AREA ', 'PARAIBA', 'CAPE COAST',
       'RIVERS STATE', 'ST. ANNE', 'ST HELENA', "CÔTE D'AZUR ",
       'SKAGERRAK ARM OF THE NORTH SEA', 'LAS PERLAS ARCHIPELAGO',
       'BARDESTRAND', 'SOUTHWEST COAST', 'QUEBEC', 'KERALA',
       'NICE & MARSEILLES', 'MAGARITA OR CUBAGUA ISLANDS', 'YUCATAN',
       'IONIAN SEA', 'PIRAEUS', 'OFF THESSALY', 'PALOMA',
       'BOCAS DEL TORO PROVINCE', 'ROCHA ', 'GULF OF TADJOURA',
       'CYRENAICA', 'NORTHERN PROVINCE', 'LOS ROQUES  ISLANDS',
       'DODECANESE ISLANDS', 'MALAITA PROVINCE', 'SOUTH KOREA',
       'MILNE BAY  PROVINCE', 'ISLAND OF VOLOS', 'AMIRANTE ISLANDS',
       'KADAVU ISLAND GROUP', 'TOAMASINA PROVINCE', 'RIAU PROVINCE',
       'BIKINI ATOLL', 'BETWEEN NEW IRELAND & NEW BRITAIN',
       'BA RIA-VUNG TAU  PROVINCE', 'MOALA ISLAND'], dtype=object)

In [15]:
# corrected States

corrections = {"QUEENSLAND": "QUEENSLAND",
  "HAWAII": "HAWAII",
  "MAHARASHTRA": "MAHARASHTRA",
  "NEW SOUTH WALES": "NEW SOUTH WALES",
  "WESTERN AUSTRALIA": "WESTERN AUSTRALIA",
  "NORTH CAROLINA": "NORTH CAROLINA",
  "GRAND BAHAMA ISLAND": "GRAND BAHAMA ISLAND",
  "FLORIDA": "FLORIDA",
  "EASTERN CAPE PROVINCE": "EASTERN CAPE PROVINCE",
  "TEXAS": "TEXAS",
  "SOUTH CAROLINA": "SOUTH CAROLINA",
  "VAAVU ATOLL": "VAAVU ATOLL",
  "SÃO PAULO": "SÃO PAULO",
  "MAYABEQUE": "MAYABEQUE",
  "ALABAMA": "ALABAMA",
  "WESTMORELAND PARISH": "WESTMORELAND PARISH",
  "CALIFORNIA": "CALIFORNIA",
  "PHANG NGA PROVINCE": "PHANG NGA PROVINCE",
  "NORTE": "NORTE",
  "WESTERN CAPE PROVINCE": "WESTERN CAPE PROVINCE",
  "MISSISSIPPI": "MISSISSIPPI",
  "SOLOMON ISLAND": "SOLOMON ISLAND",
  "EASTERN SAMAR": "EASTERN SAMAR",
  "LEYTE": "LEYTE",
  "TAHITI": "TAHITI",
  "TOKYO PREFECTURE": "TOKYO PREFECTURE",
  "NORTHERN TERRITORY": "NORTHERN TERRITORY",
  "NORTHERN IRELAND": "NORTHERN IRELAND",
  "NORTH RHINE-WESTPHALIA": "NORTH RHINE-WESTPHALIA",
  "NEWFOUNDLAND AND LABRADOR": "NEWFOUNDLAND AND LABRADOR",
  "EAST JAVA": "EAST JAVA",
  "GUANGXI": "GUANGXI",
  "SAN LUIS POTOSÍ": "SAN LUIS POTOSÍ",
  "CHIAPAS": "CHIAPAS",
  "GUANAJUATO": "GUANAJUATO",
  "VERACRUZ": "VERACRUZ",
  "YUCATÁN": "YUCATÁN",
  "SINALOA": "SINALOA",
  "AGUASCALIENTES": "AGUASCALIENTES",
  "COAHUILA": "COAHUILA",
  "TABASCO": "TABASCO",
  "HIDALGO": "HIDALGO",
  "QUERÉTARO": "QUERÉTARO",
  "NAYARIT": "NAYARIT",
  "QUINTANA ROO": "QUINTANA ROO",
  "CAMPECHE": "CAMPECHE",
  "ZACATECAS": "ZACATECAS",
  "MEXICO CITY": "MEXICO CITY",
  "MÉXICO STATE": "MÉXICO STATE",
  "DURANGO": "DURANGO",
  "BAJA CALIFORNIA SUR": "BAJA CALIFORNIA SUR",
  "TLAXCALA": "TLAXCALA",
  "COLIMA": "COLIMA",
  "MICHOACÁN": "MICHOACÁN",
  "GUERRERO": "GUERRERO",
  "PUEBLA": "PUEBLA",
  "MORELOS": "MORELOS",
  "CENTRAL JAVA": "CENTRAL JAVA",
  }

shark_attack['State']=shark_attack['State'].replace(corrections)

In [16]:
# drop any rows that are half empty

shark_attack=shark_attack.dropna(thresh=6)

In [17]:
shark_attack.isnull().sum()

Date           0
Type          18
Country       44
State        461
Location     545
Activity     571
Name         204
Sex          561
Age         2970
Injury        30
Time        3502
Species     3109
dtype: int64

In [18]:
# since there is such a huge difference between M and F, we decided to assign the nulls to M.
# everything else filled with NA

shark_attack['Sex'].value_counts()

shark_attack['Sex']=shark_attack.loc[shark_attack['Sex'].isnull(), 'Sex'] = "M"

In [19]:
shark_attack=shark_attack.fillna("na")

In [20]:
pivot_attack = shark_attack.pivot_table(index='Date', columns='Country', values=['State'], aggfunc='sum')
pivot_attack

                            State                                        \
Country         ADMIRALTY ISLANDS AFRICA ALGERIA AMERICAN SAMOA ANDAMAN
Date
\n1951.12.15.R                NaN    NaN     NaN            NaN     NaN
    10-Jan-2009               NaN    NaN     NaN            NaN     NaN
    15-Jun-1937               NaN    NaN     NaN            NaN     NaN
    16-Jan-1970               NaN    NaN     NaN            NaN     NaN
    22-Jul-2013               NaN    NaN     NaN            NaN     NaN
...                           ...    ...     ...            ...     ...
Summer-2008                   NaN    NaN     NaN            NaN     NaN
Winter 1942                   NaN    NaN     NaN            NaN     NaN
Winter 1969                   NaN    NaN     NaN            NaN     NaN
Woirld War II                 NaN    NaN     NaN            NaN     NaN
World War II                  NaN    NaN     NaN            NaN     NaN

                                                                ...  \
Country         ANDAMAN ISLANDS ANGOLA ANTIGUA ARGENTINA ARUBA  ...
Date                                                            ...
\n1951.12.15.R              NaN    NaN     NaN       NaN   NaN  ...
    10-Jan-2009             NaN    NaN     NaN       NaN   NaN  ...
    15-Jun-1937             NaN    NaN     NaN       NaN   NaN  ...
    16-Jan-1970             NaN    NaN     NaN       NaN   NaN  ...
    22-Jul-2013             NaN    NaN     NaN       NaN   NaN  ...
...                         ...    ...     ...       ...   ...  ...
Summer-2008                 NaN    NaN     NaN       NaN   NaN  ...
Winter 1942                 NaN    NaN     NaN       NaN   NaN  ...
Winter 1969                 NaN    NaN     NaN       NaN   NaN  ...
Woirld War II               NaN    NaN     NaN       NaN   NaN  ...
World War II                NaN    NaN     NaN       NaN   NaN  ...

                                                                         \
Country         UNITED KINGDOM URUGUAY    USA VANUATU VENEZUELA VIETNAM
Date
\n1951.12.15.R             NaN     NaN    NaN     NaN       NaN     NaN
    10-Jan-2009            NaN     NaN    NaN     NaN       NaN     NaN
    15-Jun-1937            NaN     NaN  TEXAS     NaN       NaN     NaN
    16-Jan-1970            NaN     NaN    NaN     NaN       NaN     NaN
    22-Jul-2013            NaN     NaN    NaN     NaN       NaN     NaN
...                        ...     ...    ...     ...       ...     ...
Summer-2008                NaN     NaN    NaN     NaN       NaN     NaN
Winter 1942                NaN     NaN    NaN     NaN       NaN     NaN
Winter 1969                NaN     NaN    NaN     NaN       NaN     NaN
Woirld War II              NaN     NaN    NaN     NaN       NaN     NaN
World War II               NaN     NaN    NaN     NaN       NaN     NaN


Country         WEST INDIES WESTERN SAMOA YEMEN   na
Date
\n1951.12.15.R          NaN           NaN   NaN  NaN
    10-Jan-2009         NaN           NaN   NaN  NaN
    15-Jun-1937         NaN           NaN   NaN  NaN
    16-Jan-1970         NaN           NaN   NaN  NaN
    22-Jul-2013         NaN           NaN   NaN  NaN
...                     ...           ...   ...  ...
Summer-2008             NaN           NaN   NaN  NaN
Winter 1942             NaN           NaN   NaN  NaN
Winter 1969             NaN           NaN   NaN  NaN
Woirld War II           NaN           NaN   NaN  NaN
World War II            NaN           NaN   NaN  NaN

[5954 rows x 194 columns]

In [21]:
shark_attack.Date.dt.month

shark_attack['month']=

SyntaxError: invalid syntax (1556395349.py, line 3)